body {
  background-image: url(../image/netflix.jpg);
  background-size: cover;
  font-family: Segoe UI;
  margin: 0;
  padding: 0;
}

.center {
  display: grid;
  place-items: center;
}

.box {
  background-color: rgba(0, 0, 0, 0.8);
  width: 28%;
  padding: 3%;
  display: grid;
  place-items: center;
  margin-bottom: 4%;
}

.input {
  width: 400px;
  height: 70px;
  border: 1px solid rgba(255, 255, 255, 0.288);
  background-color: rgba(49, 47, 47, 0.342);
  border-radius: 5px;
  color: whitesmoke;
  font-size: 20px;
}

 .btn {
  background-color: rgba(255, 0, 0, 0.753);
  width: 410px;
  height: 70px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Segoe UI;
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid rgba(255, 0, 0, 0.753);
}

.btn:hover {
  background-color: red;
  border: 1px solid rgb(231, 22, 22);
  border-radius: 5px;
}

.btn1 {
    width: 80px;
    height: 25px;
}

h1 {
  color: whitesmoke;
  font-size: 40px;
  padding-right: 55%;
  margin-bottom: 7%;
  font-weight: 700;
}

.forget {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
}

.forget:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.781);
}

.checkbox {
  display: flex;
  align-items: center;
  color: whitesmoke;
  padding-right: 50%;
  margin-top: 8%;
}

.checkbox input[type="checkbox"] {
  margin-right: 15px;
}

label {
  font-size: 20px;
}

.new {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.63);
  margin-right: 30%;
}

.sign {
  font-weight: bolder;
  color: whitesmoke;
  text-decoration: none;
}

.sign:hover {
  color: white;
}

.learn {
  color: rgb(70, 122, 233);
  font-size: medium;
  text-decoration: none;
}

.learn:hover {
  color: rgb(70, 122, 233);
}

.page {
  color: rgba(255, 255, 255, 0.63);
  padding-left: 7%;
  margin-bottom: 10%;
}

li {
  list-style-type: none;
}

li a {
  color: rgba(255, 255, 255, 0.288);
  text-decoration: none;
  font-size: 18px;
}

.footer {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 220px;
  margin-top: 3%;
  margin-bottom: -3%;
  gap: 10%;
  width: 100%;
  min-width: 300px;
  flex-direction: row;
}

.us {
  font-size: 20px;
}

.opacity {
  position: relative;
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 0;
}

